body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 34px "Century Gothic", Futura, sans-serif;

  background: linear-gradient(-45deg, #89f7fe, #66a6ff, #fbc2eb, #a6c1ee);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ol,
ul {
  padding-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 500px;  /* hoặc tính dựa trên board size */
  height: 300px; /* để game-info thay đổi mà không làm layout nhảy */
}

.game-info {
  margin-left: 20px;
}

.reset-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.reset-btn:hover {
  background-color: #45a049;
}